jdbc.driver={{if exists "/driver"}}{{getv "/driver"}}{{end}}
jdbc.url={{if exists "/url"}}{{getv "/url"}}{{end}}
jdbc.user={{if exists "/user"}}{{getv "/user"}}{{end}}
jdbc.password={{if exists "/password"}}{{getv "/password"}}{{end}}
